<table class="table">
    <tr>
        <th>ID</th>
        <th>Team One</th>
        <th>Team Two</th>
        <th>Score One</th>
        <th>Score Two</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor='let m of matches'>
        <td>{{m.id}}</td>
        <td>{{m.teamOne}}</td>
        <td>{{m.teamTwo}}</td>
        <td>{{m.scoreOne}}</td>
        <td>{{m.scoreTwo}}</td>
        <td>
            <button class="btn btn-danger" (click)='delete(m.id)'>Delete</button>
        </td>
    </tr>
</table>